nav {
  text-align: center;
  
}
nav a {
  outline: 2px solid cadetblue;
  padding: 8px 16px;
  font-size: small; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 3px 3px;
}
nav a:hover {
  background-color: cadetblue;
} 

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgreen;
    text-align: center;
    
}
h2 {
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  text-align: center; 
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
li {
  font-family: 'EB Garamond';font-size: 17px;
  line-height: 25px;
}

#logo {
  width: 35%;
  margin: auto;
  display: block;
  margin: auto;
}
 img{
  width: 40%;
  margin: auto;
  display: block;
  margin: auto;
}





